
$primary:  #45CEDB;
$body-color: #151618;
$border-color: #c0c0c0;
$black: #000;
$light-purple: rgba(34, 33, 91, 0.6);
$purple: #8369ac;
$light-blue: #f5f5fb;
$white: #fff;
$light-border: #e5e5e7;
$danger: #ff0100;
$yellow: #f7bd01;
$teal: #aab750;
$shadow: 5px 0 20px 2px rgba(0, 0, 0, 0.05);
$gray: #c4c4c4;
$light-yellow: #fcffea;
$dark-gray: #333;
$text-primary:#45CEDB;
$tablecolor: #F1F3F6;